@font-face {
  font-family: Norse;
  src: url(./Norse-Bold.otf);
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: rgb(249, 250, 251);
}

aside {
  background-image: url('./background.jpg');
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.logo-overlay {
  width: 100%;
  height: 15vw;
  max-height: 200px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

.logo-overlay img {
  width: 30%;
  height: auto;
  max-width: 130px;
  padding-left: 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.logo {
  font-family: Norse, sans-serif;
  font-size: 5vw;
  padding-right: 10px;
}

.overlay p {
  padding: 10px 0 10px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 3;
  max-width: 1000px;
  overflow: auto;
}

.container {
  margin-left: 40px;
}

.description {
  font-weight: bold;
  margin-top: 15vh;
  margin-bottom: 40px;
  width: 90%;
  font-size: 20px;
}

.form-container {
  display: block;
  width: 100%;
  margin-left: -40px;
  padding: 20px 40px 20px;
  background-color: white;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  padding-right: 3%;
}

legend {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}

label {
  text-transform: uppercase;
  letter-spacing: 2px;
}

input {
  width: min(350px, 50vw);
  height: 30px;
  padding-left: 10px;
  border-color: #e6e7eb;
  border-style: solid;
  border-radius: 5px;
}

input:focus-visible {
  outline: #3455d8;
  box-shadow: 0 3px 7px rgba(78, 78, 78, 0.5);
}

input:focus-visible:invalid {
  border-color: rgb(173, 20, 20);
  background-color: rgba(255, 0, 0, 0.24);
}

input:focus-visible:valid {
  border-color: rgb(20, 173, 46);
  background-color: rgba(9, 255, 0, 0.24);
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

button {
  background-color: #283d1c;
  color: white;
  padding: 12px 40px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #395827;
}

a {
  text-decoration: none;
  color: green;
}
